html{
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body{
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: Arial, sans-serif;
}

a, p{
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: gray;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navTop li{
    float: right;
}

.navTop li a , .navBottom li a{
    display: block;
    padding: 8px;
}

.googleApps{
    position: relative;
    display: inline-block;
    text-align: center;
}


.session{
    background-color: #4285f4;
    border: 1px solid #4285f4;
    display: flex;
    width: auto;
    height: auto;
    border-radius: 2px;
    text-align: left;
}

.session a{
    font-weight: bold;
    color: white !important;
    text-decoration: none !important;
}

.main{
    position: absolute;
    margin: 250 auto 0 auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.container{
    position: relative;
    margin: auto;
    text-align: center; 
}

input[name="search"]{
    border-color: transparent;
    color:  rgba(0, 0, 0, 0.87);
    padding: 12px 20px;
    margin: 8px 0;
    width: 500px;
    box-sizing: border-box;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
}

input[name="search"]:focus , input[name="search"]:hover{
    border-color:  transparent;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.50);
}

input[type="submit"] , input[type="button"]{
    background-color: #f2f2f2;
    color: #757575;
    border: none;
    width: 100px auto;
    margin: 10px 5px;
    padding: 10px;
    font-weight: bold;
}

input[type="submit"]:hover , input[type="button"]:hover{
    color: rgba(0, 0, 0, 0.87);
}

footer{
    background-color: #f2f2f2;
    border: 1px solid #e4e4e4;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

.country p{
    display: block;
    padding: 2px 8px;
}

